/* BeachDetail.css */
  .beach-detail-container {
    text-align: center;
    padding: 20px;
}

.beach-detail-title {
    color: black;
    font-size: 4rem;           /* Big text */
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;     /* Prevents overflow on long words */
    margin-top: 10px; 
}

.beach-detail-data {
    font-size: 1.2rem;
    margin-top: 10px;
}
